<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Attendance System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand fw-bold" href="#">
            Online Attendance Management System
        </a>

    </div>

</nav>

<div class="container">

    <h1 class="text-center mt-5 text-white">

        Welcome

    </h1>

    <p class="text-center text-light">

        Choose Your Module

    </p>

    <div class="row mt-5">

        <!-- Admin -->

        <div class="col-md-4">

            <div class="card card-box">

                <div class="card-body text-center">

                    <h1>👨‍💼</h1>

                    <h3>Admin</h3>

                    <p>Manage Students, Teachers And Attendance</p>

                    <a href="/login" class="btn btn-primary">
                        Open
                    </a>

                </div>

            </div>

        </div>

        <!-- Teacher -->

        <div class="col-md-4">

            <div class="card card-box">

                <div class="card-body text-center">

                    <h1>👨‍🏫</h1>

                    <h3>Teacher</h3>

                    <p>Attendance And Leave Management</p>

                    <a href="/teacher" class="btn btn-success">
                        Open
                    </a>

                </div>

            </div>

        </div>

        <!-- Student -->

        <div class="col-md-4">

            <div class="card card-box">

                <div class="card-body text-center">

                    <h1>👨‍🎓</h1>

                    <h3>Student</h3>

                    <p>Mark Attendance And View Monthly Report</p>

                    <a href="/student" class="btn btn-warning">Open</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>